body
{
    background-color: #96a8c8;
}

.form
{
    color: #ffffff;
    font:Helvetica;
    font-weight: 100;
    background-color: transparent;
}

.title
{
    font: Helvetica;
    color: #ffffff;
    font-weight: bold; 
}

.text
{
    color: #ffffff;
    font:Helvetica;
    font-weight: 300;
    background-color: transparent
}